<form action="/quizes/<%= quiz.id %>/answer" method="get">
	<p class="question">¿<%= quiz.pregunta %>?</p>
	<div>
		<label for="respuesta">Escribe tú respuesta</label>
		<input tabindex="1" value="" type="text" placeholder="Por ejemplo: Armenia" id="respuesta" name="respuesta" required/>
	</div>
	<input value="Enviar" type="submit" tabindex="2"/>	
</form>

<div id="comentarios">
	<h3>Comentarios</h3>
	<p><a class="button" href="/quizes/<%= quiz.id %>/comments/new">Comentar</a></p>
	<%for(i in quiz.Comments) {%>
		<div class="comentario">
			<p><time><%= quiz.Comments[i].createdAt %></time></p>
			<p><%= quiz.Comments[i].texto %></p>
		</div>
	<% } %>
</div>